---
import type { Category } from '@/types/category'
import { rawToCategories } from '@/util/data/categories'

interface Props {
	categories: Category[]
}
const categories = Astro.props.categories
---

<div class="categories">
	<ul>
		{
			categories.map(({ fullPath, display }) => {
				return (
					<li>
						<a href={fullPath} class="link">
							{display}
						</a>
					</li>
				)
			})
		}
	</ul>
</div>
