---
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content';

const entries = await getCollection('uses');
---

<Layout title="Projects">
    <h1>Uses</h1>
    <ul>
        {entries.map((entry) => (
            <li>
                {entry.data.title}
            </li>
        ))}
    </ul>
</Layout>

<style>
</style>
