/* * {
  outline: 1px solid rgba(255, 0, 0, 0.25);
} */

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--c-light);
  color: var(--c-font);
  font-size: 125%;
  font-family: var(--font-family);
}

:any-link {
  text-decoration-thickness: var(--underline-thickness);
}

* {
  scroll-margin: var(--xl);
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}