html {
  scroll-behavior: smooth;
}

body {
    color: var(--c-font);
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: 125%;
    -webkit-font-smoothing: antialiased;
}

.select-button {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: var(--border-radius-small);
    background: var(--c-surface);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    gap: var(--s);
    select {
        flex: 1 0 auto;
        border: none;
        font-size: 1rem;
        margin: 0;
        padding: 0;
        font-weight: 600;
        font-size: 1rem;
        font-family: 'Source Sans Pro', sans-serif;
        letter-spacing: 0.2px;
        background: var(--c-surface);
        padding: var(--xs) 0 var(--xs) var(--s);
    }
    svg {
        size: 1rem;
        margin: 0 var(--s) 0 0
    }
}

.segmented-buttons {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: var(--border-radius-small);
    background: var(--c-surface);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
    overflow: hidden;
    &:last-child {
        border-right: none;
    }
    .button {
        border: none;
        background: transparent;
        font-weight: 500;
        font-size: 1rem;
        font-family: 'Source Sans Pro', sans-serif;
        letter-spacing: 0.2px;
        line-height: 1.2;
        border-right: 1px solid rgba(0, 0, 0, 0.05);
        padding: var(--xs) var(--s);
        margin: 0;
        transition: var(--transition);
        text-decoration: none;
        color: var(--c-font);
        &:hover {
            background: rgba(0, 0, 0, 0.05);
            cursor: pointer;
        }
    }
}

:any-link {
    text-decoration-thickness: 0.15rem;
}


.rich-text{
  line-height: 1.75;
  h2 {
    width: 30ch;
    font-weight: 900;
    font-size: 1.414rem;
    line-height: 1.2;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.2px;
    margin: 4rem 0 1rem 0;
  }
  h3 {
    width: 30ch;
    font-weight: 900;
    font-size: 1.1rem;
    line-height: 1.2;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.2px;
    margin: 2rem 0 1rem 0;
  }
  p, ul, ol, img, blockquote {
    margin: 0 0 2rem 0;
    &:last-of-type {
      margin: 0;
    }
  }
  a {
    color: var(--c-font);
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
    &:hover {
      text-decoration: none;
    }
  }
  strong {
    font-weight: 600;
  }
  > ul, > ol {
    margin: 2rem 0 2rem 2rem;
    width: 50ch;
    ul, ol {
      margin: 0 0 0 2rem;
    }
    li {
      margin: 0.5rem 0 0 0;
    }
  }
  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }
  blockquote {
    border-radius: var(--border-radius);
    background: var(--c-surface);
    padding: var(--l);
    p{
      &:last-of-type {
        margin: 0;
      }
    }
  }

}