:root {
	--c-primary: #344bde;
	--c-surface: #F7F7F7;
	--c-grey-scale-10: rgba(2,7,37, 0.1);
	--c-light: #fff;
	--c-light-stable: #fff;
	--c-font-stable: #020725;
	--c-font: rgba(2,7,37, 1);
	--c-font-80: rgba(2,7,37, 0.8);
	--c-font-60: rgba(2,7,37, 0.6);
	--c-font-light: #a4a8c2;
	--c-font-on-primary: #fff;
	
	--c-shadow: rgba(46, 46, 62, 0.05);
	--transition: all 0.15s ease-in-out;
	--border-radius: 1rem;
	--border-radius-small: 0.5rem;
	
	--xs: 0.5rem;
	--s: 0.75rem;
	--m: 1rem;
	--l: 2rem;
	--xl: 6rem;
	--xxl: 16rem;
}
