:root {
	--c-surface: #F7F7F7;
	--c-grey-scale-10: rgba(1,3,15, 0.1);
	--c-light: #fff;
	--c-font: rgba(1,3,15, 1);
	--c-font-80: rgba(1,3,15, 0.8);

	/* 1.200 Minor Third - https://type-scale.com/ */
	--font-family: 'Source Sans Pro', sans-serif;
	--font-s: 0.833rem;
	--font-m: 1rem;
	--font-l: 1.2rem;
	--font-xl: 1.44rem;
	--font-letter-spacing-headline: 0.2px;
	--underline-thickness: 0.15rem;

	--transition: all 0.15s ease-in-out;
	--border-radius: 1rem;
	--border-radius-small: 0.5rem;
	
	--xs: 0.5rem;
	--s: 0.75rem;
	--m: 1rem;
	--l: 2rem;
	--xl: 6rem;
	--xxl: 16rem;

	--layout-xl: 64rem;
	--layout-l: 48rem;
	--layout-m: 36rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--c-surface: rgba(255,255,255, 0.03);
		--c-surface-intense: rgba(255,255,255, .1);
		--c-grey-scale-10: rgba(1,3,15, 0.1);
		--c-light: rgba(1,3,15, 1);
		--c-font: #ffffff;
		--c-font-80: rgba(255,255,255, 0.8);
		--c-font-60: rgba(255,255,255, 0.6);
	}
  }
