/*
* Variable names are inspired by tailwind.css
* e.g. ff = fontfamily; fs = fontsize; fs-xs = fontsize-xs
* --------------------------------------------
 */

$s-page-width: 210mm;
$s-page-height: 297mm;

/*
 * Fonts
 */
$ff: 'Roboto', sans-serif; // if you change this to another Font from https://fonts.google.com/ you also have to change this in the nuxt.config.js

$fs-xs: 0.5rem;
$fs-s:  0.8rem;
$fs:    1rem;
$fs-m:  1.2rem;
$fs-l:  1.5rem;
$fs-xl: 2rem * 2;

/*
 * Colors (c)
 */
$c-primary:        #2E2E3E;
$c-font-headline:    $c-primary;
$c-font-text:        rgba($c-primary, 0.8);
$c-primary-shadow: rgba(18,18,24, 0.3);
$c-secondary:      #E2EBF0;
$c-accent:         rgba($c-primary, 0.6);
$c-white:          #ffffff;
$c-grey:           #cccccc;
$c-black:          #000000;

/*
 * Breakpoints
 */
$desktop: 1rem * 62;

/*
 * Border-Radius
 */
$radius: 4px;
