---
import logoSvg from '../../assets/img/logo.svg';
---

<header>
	<div class="logo">
		<!-- TODO use astro image -->
		<img src={logoSvg} alt="image description" width="50" height="50" />
		<strong>Luka Harambasic</strong>
	</div>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/projects">Projects</a></li>
			<li><a href="/lists">Lists</a></li>
			<li><a href="/posts">Posts</a></li>
		</ul>
	</nav>
</header>
