---
import logoSvg from '../../assets/images/logo.svg';
---

<footer>
	<ul>
		<li><a href="https://www.linkedin.com/in/harambasic/">LinkedIn</a></li>
		<li><a href="https://github.com/LukaHarambasic">GitHub</a></li>
		<li><a rel="me" href="https://mstdn.social/@luha">Mastodon</a></li>
	</ul>
	<div class="logo">
		<!-- <img src={logoSvg} alt="Logo with the initials LH" width="32" height="32" /> -->
	</div>
	<ul>
		<li><a href="#">Imprint</a></li>
		<li><a href="#">Data Privacy</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
</footer>

<style>
	footer {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-content: stretch;
		align-items: flex-start;
	}
	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: flex-start;
		gap: var(--m);
		li {
			a {
				color: var(--c-font);
				text-decoration: none;
			}
		}
	}
	.logo {
		size: var(--l);
	}
</style>
