---
interface Props {
	prefix: string;
}
const { prefix } = Astro.props;
---

<div class="callout">
	{prefix && <strong>{prefix}</strong>}
	<div class="content rich-text">
		<slot />
	</div>
</div>

<style>
	.callout {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-content: stretch;
		justify-content: flex-start;
		align-items: flex-start;
		gap: var(--m);
		border-radius: var(--border-radius);
		background: var(--c-surface);
		padding: var(--l);
		strong {
			display: inline;
			border-radius: var(--border-radius-small);
			background: var(--c-grey-scale-10);
			padding: var(--s) var(--m);
			font-weight: 900;
			font-size: var(--font-m);
			font-family: var(--font-family);
			letter-spacing: 0.2px;
		}
	}
</style>
