---
---

<section class="footnote rich-text">
	<p>
		<slot />
	</p>
</section>

<style>
	.footnote {
		background: var(--c-surface);
		border-radius: var(--border-radius);
		color: var(--c-font);
		text-decoration: none;
		transition: var(--transition);
		overflow: hidden;
		padding: var(--l);
	}
</style>
