body
  font-family: Open Sans, Helvetica Neue, Arial, sans-serif
  color: $color-primary

img
  max-width: 100%

.center-center
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: center
  align-content: center
  align-items: center
  width: 100%
  height: 100%

.row-space-between
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: space-between
  align-content: flex-start
  align-items: flex-start
  width: 100%
