html
  overflow-y: scroll

body
  font-family: Open Sans, Helvetica Neue, Arial, sans-serif
  color: var(--c-font)
  background: var(--c-surface)
  font-size: 1.2rem
  line-height: 1.75
  font-smoothing: antialiased

img
  max-width: 100%

.row-space-between
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: space-between
  align-content: flex-start
  align-items: flex-start
  width: 100%
  @media screen and (max-width: $breakpoint-mobile)
    flex-direction: column
    justify-content: flex-start

section
  > h2
    text-align: center
    margin: 0 0 1rem 0