h1, h2, h3, h4, h5, h6
  font-weight: bold

// continuous text
.nuxt-content
  h1
    background: tomato
  h2
    font-size: 1.75rem
    margin: 2.5rem 0 .25rem 0
  h3
    font-size: 1.5rem
    margin: 1.5rem 0 .25rem 0
  h4
    font-size: 1.2rem
    margin: 1.2rem 0 .25rem 0
  h2, h3, h4, h5
    a
      position: absolute
      margin: -.4rem 0 0 -2.5rem
      padding: 1rem
      font-weight: normal
      border: none
      color: var(--c-primary)
      &:hover
        border: none
        background: none
    &:hover
      a
        &:before
          color: var(--c-primary)
          content: "#"
  p
    margin: 0 0 2rem 0
    word-break: break-word
    &:last-child
      margin: 0
    a
      display: inline
      word-wrap: break-word
  ul, ol
    margin: 0 0 0 2rem
    li
      margin: .5rem 0 0 0
      ul, ol
        margin: 0 0 0 2rem
  > ul, ol
    margin: 0 0 2rem 2rem
  ul
    list-style: disc
  ol
    list-style: decimal-leading-zero
  a
    color: var(--c-font)
    border-bottom: 2px solid var(--c-primary)
    transition: $animation
    text-decoration: none
    line-height: 1
    &:hover
      text-decoration: none
      border-color: transparent
      background: var(--c-primary)
      color: var(--c-font-on-primary)
  blockquote
    padding: .5rem 1rem
    border-left: .5rem solid var(--c-primary)
    margin: 0 0 1rem 1rem
    p
      font-size: 1.2rem
      font-style: italic
      &:last-child
        margin: 0
  strong
    font-weight: bold
  em
    font-style: italic
  small
    font-size: 1rem
    opacity: 0.8
  picture
    background: var(--c-light)
    border-radius: var(--border-radius)
    padding: 1rem
    display: block
    img
      border-radius: var(--border-radius)
      width: 100%
  p
    > img
      background: var(--c-light)
      border-radius: var(--border-radius)
      padding: 1rem
  iframe
    margin: 0 0 1rem 0
  p, li, h1, h2, h3, h4, h5, h5, strong
    > code
      color: var(--c-font)
      background: var(--c-light)
      border-radius: var(--border-radius)
      font-style: italic
      font-size: 1.1rem
      padding: .1rem .4rem
  .nuxt-content-highlight
    position: relative
    margin: 0 0 2rem 0
    &:hover
      .filename
        opacity: 1
    .filename
      color: var(--c-font)
      font-family: 'Open Sans', sans-serif
      font-size: .9rem
      position: absolute
      top: .5rem
      right: 1rem
      font-style: italic
      opacity: .6
    pre, code
      font-family: 'JetBrains Mono', monospace
    pre
      background: var(--c-light)
      border-radius: var(--border-radius)
    code
      font-size: 1rem
      color: var(--c-font)
      text-shadow: none
      .token.operator
        background: transparent
