$color-primary: #2e2e3e
$color-secondary: #e2ebf0
$color-light: #ffffff
$color-grey: #F1F1F5
$color-dark: #121218
$color-shadow: rgba($color-primary, 0.05)

$font-family: 'Open Sans', sans-serif

$size-desktop: 60rem
$size-desktop-content: calc(60rem - (2 * 4rem))
$size-mobile: calc(100% - 4rem)

$breakpoint-desktop: $size-desktop + 4rem
$breakpoint-tablet: 40rem
$breakpoint-mobile: 32rem

$border-radius: 2px

$box-shadow: 0 0 1px $color-shadow, 0 0 2px $color-shadow, 0 0 3px $color-shadow, 0 0 4px $color-shadow

$border-width: 2rem
$border: $border-width solid $color-light
$animation: all 150ms ease-in-out
