$color-primary: #2e2e3e
$color-secondary: #e2ebf0
$color-light: #ffffff

$font-family: 'Open Sans', sans-serif

$size-desktop: 60rem
$size-desktop-content: calc(60rem - (2 * 4rem))
$size-mobile: calc(100% - 4rem)

$breakpoint-desktop: $size-desktop + 4rem
$breakpoint-mobile: 32rem

$border-radius: 2px

$box-shadow: 0 0 .25rem 0 rgba($color-primary, 0.4)

$border-width: 2rem
$border: $border-width solid $color-light
$animation: all 150ms ease-in-out
