/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/open-sans-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('/fonts/open-sans-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/open-sans-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/open-sans-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('/fonts/open-sans-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/open-sans-v18-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  font-display: swap;
}

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/open-sans-v18-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('/fonts/open-sans-v18-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/open-sans-v18-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/open-sans-v18-latin-italic.woff') format('woff'), /* Modern Browsers */
  url('/fonts/open-sans-v18-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/open-sans-v18-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
  font-display: swap;
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/open-sans-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('/fonts/open-sans-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/open-sans-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/open-sans-v18-latin-700.woff') format('woff'), /* Modern Browsers */
  url('/fonts/open-sans-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/open-sans-v18-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
  font-display: swap;
}

/* jetbrains-mono-regular - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/jetbrains-mono-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('/fonts/jetbrains-mono-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/jetbrains-mono-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/jetbrains-mono-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('/fonts/jetbrains-mono-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/jetbrains-mono-v1-latin-regular.svg#JetBrainsMono') format('svg'); /* Legacy iOS */
  font-display: swap;
}
