:root {
  --c-primary: #344BDE;
  --c-surface: #F2F2F3;
  --c-light: #FFFFFF;
  --c-font: #020725;
  --c-font-light: #a4a8c2;
  --c-font-on-primary: #FFFFFF;

  --c-success: #1DE9B6;
  --c-warning: #FFD740;
  --c-danger: #E53934;
  --c-shadow: rgba(46, 46, 62, 0.05);

  --transition: all .15s ease-in-out;
  --border-radius: .5rem;
  --border-radius-small: 4px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-primary: #344BDE;
    --c-surface: #020725;
    --c-light: #000000;
    --c-font: #FFFFFF;
    --c-font-on-primary: #FFFFFF;
  }
}

