---
import type { Tag } from '$lib/types/tag';

interface Props {
	tag: Tag;
	selected?: boolean;
}

const { tag, selected = false } = Astro.props;
---

<a class:list={['tag', { selected }]} href={tag.relativePath} title={tag.display}>#{tag.display}</a>

<style>
	.tag {
		display: inline-block;
		padding: 0.1rem var(--s);
		border: none;
		border-radius: var(--border-radius-pill);
		background: var(--c-surface-accent);
		color: var(--c-font);
		font-size: var(--font-s);
		font-weight: 500;
		text-align: center;
		text-decoration: none;
		transition: var(--transition);
		&:hover {
			background: var(--c-font);
			color: var(--c-light);
			cursor: pointer;
		}
		&.selected {
			background: var(--c-font);
			color: var(--c-light);
		}
	}
</style>
