---
import BaseRichText from './BaseRichText.astro';

interface Props {
	prefix: string;
	id?: string;
}

const { prefix, id } = Astro.props;
---

<div class="callout" id={id}>
	{prefix && <strong>{prefix}</strong>}
	<BaseRichText class="content">
		<slot />
	</BaseRichText>
</div>

<style>
	.callout {
		display: flex;
		width: fit-content;
		align-items: flex-start;
		gap: var(--m);
		strong {
			display: inline-block;
			padding: var(--s) var(--m);
			border: var(--border);
			border-radius: var(--border-radius-small);
			background: var(--c-surface-accent);
			flex: 1 0 auto;
			font-size: var(--font-m);
			font-weight: 600;
		}
		:global(.content) {
			flex: 0 1 auto;
		}
	}
</style>
