---

---

<div class="card">
  <slot />
</div>

<style lang="postcss">
    .card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--m);
    border-radius: var(--border-radius);
    background: var(--c-surface);
    padding: var(--l);
    border: var(--border);
    @media screen and (max-width: 42rem) {
        flex-direction: column;
    }
    &.no-spacing {
        padding: 0;
        gap: 0;
    }
}
</style>
