---
interface Props {
	class?: string;
}

const { class: className } = Astro.props;
const hasSidebar = Astro.slots.has('sidebar');
---

<section class:list={[{ 'no-sidebar': !hasSidebar }, className]}>
	<div class="entries">
		<slot />
	</div>
	{
		hasSidebar && (
			<div class="sidebar">
				<slot name="sidebar" />
			</div>
		)
	}
</section>

<style>
	section {
		display: grid;
		width: 100%;
		row-gap: var(--l);
		column-gap: var(--l);
		grid-template-rows: auto auto;
		grid-template-columns: 70ch 1fr;
		&.no-sidebar {
			width: 100%;
			grid-template-columns: 1fr;
			.entries {
				grid-column: 1 / -1;
			}
		}
		@media screen and (width <= 74rem) {
			grid-template-columns: 1fr 18rem;
		}
		@media screen and (width <= 50rem) {
			grid-template-columns: 1fr;
		}
		.entries {
			width: 100%;
			@media screen and (width <= 50rem) {
				order: 1;
				grid-template-columns: 1fr;
			}
		}
		.sidebar {
			@media screen and (width <= 50rem) {
				order: 0;
				grid-template-columns: 1fr;
			}
		}
	}
</style>
