---
interface Props {
	title: string;
	leadingPosition?: 'block' | 'inline';
}

const { title, leadingPosition = 'block' } = Astro.props;
const inline = leadingPosition === 'inline';
const hasLeading = Astro.slots.has('leading');
const hasMeta = Astro.slots.has('meta');
---

<header class:list={['entry-header', { inline }]}>
	{
		hasLeading && (
			<div class="leading">
				<slot name="leading" />
			</div>
		)
	}
	{
		inline ? (
			<div class="title-meta">
				<h1 class="title">{title}</h1>
				{hasMeta && (
					<div class="meta">
						<slot name="meta" />
					</div>
				)}
			</div>
		) : (
			<Fragment>
				<h1 class="title">{title}</h1>
				{hasMeta && (
					<div class="meta">
						<slot name="meta" />
					</div>
				)}
			</Fragment>
		)
	}
</header>

<style>
	.entry-header {
		display: flex;
		margin-bottom: var(--m);
		flex-direction: column;
		align-items: flex-start;
		gap: var(--m);
		&.inline {
			flex-direction: row;
			align-items: center;
			gap: var(--m);
			.title-meta {
				display: flex;
				min-width: 0;
				flex: 1;
				flex-direction: column;
				gap: var(--xxs);
			}
		}
		.leading {
			display: flex;
			flex-shrink: 0;
			justify-content: flex-start;
			align-items: center;
		}
		.title {
			margin: 0;
			color: var(--c-font);
			font-family: var(--font-family-serif);
			font-size: var(--fs-h1);
			font-weight: 500;
			line-height: 1.2;
			letter-spacing: var(--tracking-heading);
		}
		.meta {
			color: var(--c-font-accent-dark);
			font-family: var(--font-family);
			font-size: var(--font-s);
			font-weight: 400;
			font-style: italic;
			line-height: 1.5;
		}
	}
</style>
